@keyframes go {
    0% {
        transform: translate(0, 10px);
    }
    50% {
        transform: translate(0, -10px);
    }
    100% {
        transform: translate(0, 10px);
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.content {
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: 1px black solid;
    box-shadow: 0 0 3px black;
    margin: 5px 0;
    font-size: 120%;
}

.up::before {
    content: '👇';
    animation: go 1s ease-out infinite;
}

.down::after {
    content: '👆';
    animation: go 1s ease-out infinite;
}
