.wrapper {
    width: 50px;
    height: 50px;
    background-color: #E6EAED;
}

.content {
    border-radius: 5px;
    height: 90%;
    margin: 5%;
    box-shadow: 0 0 2px black;
}

.content::selection {
    background-color: rgba(0, 0, 0, 0);
}

.none {
    background-color: #ADAEC0;
}

.blue {
    background-color: rgba(0, 0, 255, 0.5);
}

.green {
    background-color: rgba(0, 128, 0, 0.5);
}

.yellow {
    background-color: rgba(218, 165, 32, 0.5);
}

.red {
    background-color: rgba(255, 0, 0, 0.5);
}