.wrapper {
    width: 50px;
    height: 50px;
    background-color: #E6EAED;
}

.content {
    border-radius: 5px;
    height: 90%;
    margin: 5%;
    background-color: #ADAEC0;
    box-shadow: 0 0 2px black;
}

.one {
    background-color: rgba(0, 128, 0, 0.5);
}

.two {
    background-color: rgba(218, 165, 32, 0.5);
}

.three {
    background-color: rgba(255, 0, 0, 0.5);
}