.App {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #e6eaed;
    height: 100vh;
    color: rgb(45 45 45);
}
