.red-low {
    background-color: var(--red-low);
}
.red-medium {
    background-color: var(--red-medium);
}
.red-high {
    background-color: var(--red-high);
}
.red-overflow {
    background-color: var(--red-overflow);
}

.orange-low {
    background-color: var(--orange-low);
}
.orange-medium {
    background-color: var(--orange-medium);
}
.orange-high {
    background-color: var(--orange-high);
}
.orange-overflow {
    background-color: var(--orange-overflow);
}

.green-low {
    background-color: var(--green-low);
}
.green-medium {
    background-color: var(--green-medium);
}
.green-high {
    background-color: var(--green-high);
}
.green-overflow {
    background-color: var(--green-overflow);
}

.blue-low {
    background-color: var(--blue-low);
}
.blue-medium {
    background-color: var(--blue-medium);
}
.blue-high {
    background-color: var(--blue-high);
}
.blue-overflow {
    background-color: var(--blue-overflow);
}
