.mask {
    --modal-width: 300px;
    --modal-height: 100px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    background-color: var(--popup-mask-bg-color);
}

.wrapper {
    z-index: 2;
    max-width: var(--modal-width);
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: var(--popup-bg-color);
    box-shadow: var(--popup-shadow);
}

.content {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 15px 20px;
}

.main {
    flex-grow: 1;
    margin: 0 2em;
}

.button {
    composes: button from '../../css/components.module.css';
}
