.page__container {
    display: flex;
    flex-direction: column;

    min-height: 200px;
    min-width: 130px;
    padding: 20px;
    border: 10px rgba(0, 0, 0, 0.02) solid;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
}

.button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;

    height: 30px;
    width: 100%;
    margin: 10px 0;
    border: 1px solid black;
    border-radius: 3px;
    padding: 0 20px;
    font-size: 20px;
    font-weight: bold;
    
    background-color: rgb(113, 187, 187);
    color: rgb(45 45 45);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    text-decoration: none;
}
.button:hover {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    background-color: rgb(130, 202, 202);
}
.button[disabled] {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    background-color: rgb(87 161 161);
    color: rgb(112 112 112);
}
.button[disabled]:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
